@import "media-queries";

.projectCard {
    width: 47.5%;
    margin-bottom: 3.125rem;

    @include breakpoint-up-to("large") {
        margin-bottom: 2.75rem;
    }

    @include breakpoint-up-to("medium") {
        width: 100%;
    }
}

.container {
    position: relative;
    margin-bottom: 0.875rem;

    @include breakpoint-up-to("large") {
        margin-bottom: 0.5rem;
    }
}

.shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #cfcfcf;
}

.image {
    position: relative;
    transition: 0.3s;
}

.title {
    width: 75%;
    padding-left: 0.313rem;

    @include breakpoint-up-to("large") {
        width: 85%;
    }

    @include breakpoint-up-to("medium") {
        width: 90%;
        padding-left: 0;
    }
}

.projectCard:hover .container .image {
    transform: translate(-7px, -7px);

    @include breakpoint-up-to("large") {
        transform: translate(-5px, -5px);
    }

    @include breakpoint-up-to("medium") {
        transform: translate(0, 0);
    }
}
